<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" [label]="'Статистика'"></top-action-bar>
</div>
<div class="statistics">
    <div class="statistics_type">
        <div *ngFor="let type of _statisticTypes" [class.active]="type === activeType" (click)="setActiveType(type)"><span>{{type.value}}</span></div>
    </div>

    <div [ngSwitch]="activeType.key">
        <div *ngSwitchCase="'supportOne'">
            <div class="statistics_description">
                <span>Отмена санкций <br>
                    Рост дохода у средних клиентов на 50% <br>
                    У малых клиентов открываются новые направления бизнеса</span>
            </div>
            <div *ngIf="supportOneData?.length > 0" class="table_container">
                <div class="table_title"><span>У следующих клиентов прибавилось энергии</span></div>
                <table style="max-width: 357px" class="table table-bordered">
                    <tr class="info">
                        <th>Номер клиента</th>
                        <th class="text-center">Энергия</th>
                    </tr>
                    <tr class="info" *ngFor="let info of supportOneData">
                        <td>{{info.clientName}}</td>
                        <td>{{info.energy}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="addedChannelsBySupportOne?.length > 0" class="table_container">
                <div class="table_title"><span>У следующих клиентов прибавились связи</span></div>
                <table style="max-width: 357px" class="table table-bordered">
                    <tr class="info">
                        <th>Номер клиента</th>
                        <th class="text-center">Количество</th>
                    </tr>
                    <tr class="info" *ngFor="let item of addedChannelsBySupportOne">
                        <td>1</td>
                        <td>{{item.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngSwitchCase="'supportTwo'">
            <div class="statistics_description">
                <span>
                    Квартальные премии <br>
                    Компании с ростом более 30% за раунд получают 120 GSKcoins <br>
                    Компании получают 200 GSKcoins за каждый совместный проект
                </span>
            </div>
            <div *ngIf="supportTwoData?.length > 0" class="table_container">
                <div class="table_title"><span>У следующих компаний прибавилось энергии</span></div>
                <table style="max-width: 357px" class="table table-bordered">
                    <tr class="info">
                        <th>Номер компании</th>
                        <th class="text-center">Энергия</th>
                    </tr>
                    <tr class="info" *ngFor="let item of supportTwoData">
                        <td>{{item.name}}</td>
                        <td>{{item.energy}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngSwitchCase="'crysis'">
            <div class="statistics_description">

                <span>
                    Кризис <br>
                    У 50% малых клиентов доход снизился на 30% <br>
                    Кризис уничтожил 50% контрактов у компаний с уровнем активности 1
                </span>
            </div>
            <div *ngIf="crysisData?.length > 0" class="table_container">
                <div class="table_title"><span>У следующих клиентов снизился доход</span></div>
                <table style="max-width: 549px" class="table table-bordered">
                    <tr class="info">
                        <th>Номер клиента</th>
                        <th>Отнятая энергия</th>
                        <th>Текущая энергия</th>
                    </tr>
                    <tr class="info" *ngFor="let item of crysisData">
                        <td>{{item.clientName}}</td>
                        <td>{{item.crizisEnergy}}</td>
                        <td>{{item.currentEnergy}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="loseChannelByCrysis?.length > 0" class="table_container">
                <div class="table_title"><span>Следующие компании потеряли связи</span></div>
                <table style="max-width: 549px" class="table table-bordered">
                    <tr class="info">
                        <th>Номер компании</th>
                        <th>Номер клиента</th>
                        <th>Тип канала</th>
                    </tr>
                    <tr class="info" *ngFor="let item of crysisData">
                        <td>{{item.groupName}}</td>
                        <td>{{item.clientName}}</td>
                        <td>{{item.channelType}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngSwitchCase="'bigCrysis'">
            <div class="statistics_description">

                <span>
                    Мировой кризис<br>
                    У 30% клиентов снизился доход<br>
                    Кризис уничтожил 30% контрактов у компаний с уровнем активности 2 <br>
                    Кризис уничтожил все контракты у компаний с уровнем активности 1
                </span>
            </div>
            <div *ngIf="bigCrysisData?.length > 0" class="table_container">
                <div class="table_title"><span>У следующих клиентов снизился доход</span></div>
                <table style="max-width: 549px" class="table table-bordered">
                    <tr class="info">
                        <th>Номер клиента</th>
                        <th>Отнятая энергия</th>
                        <th>Текущая энергия</th>
                        <th>Удалено</th>
                    </tr>
                    <tr class="info" *ngFor="let item of bigCrysisData">
                        <td>{{item.clientName}}</td>
                        <td>{{item.crizisEnergy}}</td>
                        <td>{{item.currentEnergy}}</td>
                        <td>{{element.isDeleted == true ? 'Да': 'Нет' }}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="bigCrysisDeletedChannels?.length > 0" class="table_container">
                <div class="table_title"><span>Эти клиенты потеряли партнеров</span></div>
                <table style="max-width: 357px" class="table table-bordered">
                    <tr class="info">
                        <th>Имя клиента</th>
                        <th>Количество партнеров</th>
                    </tr>
                    <tr class="info" *ngFor="let item of bigCrysisDeletedChannels">
                        <td>{{item.clientName}}</td>
                        <td>{{item.clientName.deleteDpartner.length}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="firstCrysisResult?.length > 0" class="table_container">
                <div class="table_title"><span>Эти группы потеряли каналы</span></div>
                <table style="max-width: 549px" class="table table-bordered">
                    <tr class="info">
                        <th>Имя группы</th>
                        <th>Имя клиента</th>
                        <th>Тип канала</th>
                    </tr>
                    <tr class="info" *ngFor="let item of firstCrysisResult">
                        <td>{{item.groupName}}</td>
                        <td>{{item.clientName}}</td>
                        <td>{{item.channelType}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="lastCrysisResult?.length > 0" class="table_container">
                <div class="table_title"><span>Эти группы потеряли всех клиентов</span></div>
                <table style="max-width: 549px" class="table table-bordered">
                    <tr class="info">
                        <th>Имя группы</th>
                    </tr>
                    <tr class="info" *ngFor="let item of lastCrysisResult">
                        <td>{{item.item}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>