@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.statistics {
    padding: 38px;
    margin-top: 89px;
    &_type {
        display: flex;
        align-items: center;
        div {
            margin-right: 32px;
            // width: 109px;
            color: $text-color;
            cursor: pointer;
            &.active {
                color: $primary-color;
                border-bottom: 4px solid $primary-color
            }
            span {
                @include customizationLabel;
            }
        }
    }
    &_description {
        margin: 48.5px 0 60px 0;
        span {
            @include eventDescriptionFont;
        }
    }
    .table_container {
        margin-bottom: 57px;
        .table_title {
            margin-bottom: 12px;
            span {
                @include tableHeader;
            }
        }
        .table {
            td,
            th {
                padding: 0 26px 0 6.5px;
                border: 1px solid #c4c4c4;
                vertical-align: middle;
            }
            th {
                height: 28px;
                @include tableHeader;
                font-family: OpenSans;
            }
            td {
                height: 26px;
                @include configInputs;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}