<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>
<div class="top_bar_container">
    <top-action-bar (isSaved)="_editConfigurations()" [label]="isTestConfigurations ? 'Настройка тестовой игры' : 'Настройка игры'"></top-action-bar>
</div>
<div *ngIf="configs && smallClient && middleClient &&  bigClient && veryBigClient" class="configurations">
    <div class="rounds">
        <div class="rounds_title"><span>{{isTestConfigurations ? 'Раунды тестовой игры' : 'Раунды игры'}}</span></div>
        <div class="rounds_add">
            <div class="rounds_duration">
                <span>{{configs.ROUND_DURATION + 'мин'}}</span>
            </div>
            <div class="action_button" (click)="addRound()">
                <div class="icon">
                    <i class="material-icons">
                                        add
                                        </i>
                </div>
                <div class="label">
                    <span>Добавить</span>
                </div>
            </div>
        </div>
        <div class="rounds_all">
            <div class="rounds_all_item" *ngFor="let round of roundCount">
                <div class="rounds_all_item_container"><span>{{configs.ROUND_DURATION}}<span class="light">мин</span> </span>
                </div>
                <div class="rounds_all_item_delete"><span (click)="deleteRound()">удалить</span></div>
            </div>
        </div>

    </div>
    <form class="configurations_form">
        <div class="configurations_form_title"><span>Конфигурации</span></div>
        <div id="mainCoefficient" class="sections_separator"><span>Основные коэффициенты</span></div>
        <div class="main_configurations">
            <ul>
                <li>
                    <label for="timeBeforeGame" class="field_label">Время до начала игры</label>
                    <input type="text" id="timeBeforeGame" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.WaitTime" [placeholder]="configs.WaitTime">
                </li>
                <li>
                    <label for="startEnergy" class="field_label">Стартовая энергия</label>
                    <input type="text" id="startEnergy" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.GROUPS_INITIAL_ENERGY" [placeholder]="configs.GROUPS_INITIAL_ENERGY">
                </li>
                <li>
                    <label for="groupsLifes" class="field_label">Жизни командов</label>
                    <input type="text" id="groupsLifes" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.GroupLife" [placeholder]="configs.GroupLife">
                </li>
                <li>
                    <label for="moreInfoPrice" class="field_label">Цена подробной информации</label>
                    <input type="text" id="moreInfoPrice" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.moreInfo" [placeholder]="configs.moreInfo">
                </li>
                <li>
                    <label for="createChannelPrice" class="field_label">Цена создания связи</label>
                    <input type="text" id="createChannelPrice" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.createChannel" [placeholder]="configs.createChannel">
                </li>
                <li>
                    <label for="roundDuration" class="field_label">Длительность раунда</label>
                    <input type="text" id="roundDuration" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.ROUND_DURATION" [placeholder]="configs.ROUND_DURATION">
                </li>
                <li>
                    <label for="supportOneBounty" class="field_label">Премия при поддержке №1</label>
                    <input type="text" id="supportOneBounty" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.SUPPORT_TWO_1" [placeholder]="configs.SUPPORT_TWO_1">
                </li>
                <li>
                    <label for="supportTwoBounty" class="field_label">Премия при поддержке №2</label>
                    <input type="text" id="supportTwoBounty" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.SUPPORT_TWO_2" [placeholder]="configs.SUPPORT_TWO_2">
                </li>

            </ul>
        </div>
        <div id="needs" class="sections_separator"><span>Потребность</span></div>
        <div class="need_configurations">
            <ul>
                <li>
                    <label for="neededInquiryPrice" class="field_label">Узнать потребность</label>
                    <input type="text" id="neededInquiryPrice" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.neededInquiryPrice" [placeholder]="configs.neededInquiryPrice">
                </li>
                <li>
                    <label for="neededGratifyPrice" class="field_label">Сделать предложение</label>
                    <input type="text" id="neededGratifyPrice" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.neededGratifyPrice" [placeholder]="configs.neededGratifyPrice">
                </li>
                <li>
                    <label for="MinNeed" class="field_label">Время зарождения ОТ (мин)</label>
                    <input type="text" id="MinNeed" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.MinNeed" [placeholder]="configs.MinNeed">
                </li>
                <li>
                    <label for="MaxNeed" class="field_label">Время зарождения ДО (мин)</label>
                    <input type="text" id="MaxNeed" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.MaxNeed" [placeholder]="configs.MaxNeed">
                </li>
                <li>
                    <label for="PUNISHMENT_NEED" class="field_label">Штраф за упущенную потребность</label>
                    <input type="text" id="PUNISHMENT_NEED" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.PUNISHMENT_NEED" [placeholder]="configs.PUNISHMENT_NEED">
                </li>
            </ul>
        </div>
        <div id="channelImprove" class="sections_separator"><span>Улучшение связей</span></div>
        <div class="channels_improve_configurations">
            <ul class="with_columns">
                <li>
                    <label class="columns_label_index"></label>
                    <div class="columns_label"><span>Цена</span></div>
                    <div class="columns_label"><span>Процент усиления</span></div>
                </li>
                <li *ngFor="let config of configs.updateLevelsPrice;let ind = index;let config of configs.updateLevelsPercents;trackBy:trackByFn">
                    <label class="field_label">{{ind + 1}}</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.updateLevelsPrice[ind]" [placeholder]="configs.updateLevelsPrice[ind]">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.updateLevelsPercents[ind]" [placeholder]="configs.updateLevelsPercents[ind]">
                </li>
            </ul>
        </div>
        <div id="activeLevel" class="sections_separator"><span>Уровень активности</span> <span class="twoRowColumns">Уровень проактивности</span></div>
        <div class="acitive_proactive_configurations">
            <ul class="with_columns">
                <li>
                    <label class="columns_label_index"></label>
                    <div class="columns_label"><span>Кол-во связей</span></div>
                    <div class="columns_label"><span>Премия</span></div>
                </li>
                <li *ngFor="let config of configs.activeLevelChannelsCount;let config of configs.activeLevelEnergies;trackBy:trackByFn;let ind = index">
                    <label class="field_label">{{ind + 1}}</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.activeLevelChannelsCount[ind]" [placeholder]="configs.activeLevelChannelsCount[ind]">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.activeLevelEnergies[ind]" [placeholder]="configs.activeLevelEnergies[ind]">
                </li>
            </ul>
            <ul class="with_columns twoRowColumns">
                <li>
                    <label class="columns_label_index"></label>
                    <div class="columns_label"><span>Кол-во энергии</span></div>
                    <div class="columns_label"><span>Премия</span></div>
                </li>
                <li *ngFor="let config of configs.proActiveLevelEnergies;let config of configs.energiesForProActiveLevel;trackBy:trackByFn;let ind = index">
                    <label class="field_label">{{ind + 1}}</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.proActiveLevelEnergies[ind]" [placeholder]="configs.proActiveLevelEnergies[ind]">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.energiesForProActiveLevel[ind]" [placeholder]="configs.energiesForProActiveLevel[ind]">
                </li>
            </ul>
        </div>
        <!-- SMALL CLIENT -->
        <div id="smallCoefficient" class="sections_separator"><span>Коэффициенты малого клиента</span></div>
        <div class="clients_configurations">
            <ul>
                <li *ngFor="let key of smallClient">
                    <label *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" class="field_label">{{key | translate : keysTranslation}}</label>
                    <input *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" type="text" id="MinNeed" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[0][key]" [placeholder]="configs.clients[0][key]">
                </li>
            </ul>
            <div class="clients_channels_type">
                <div class="item" *ngFor="let channnelNeeded of configs.clients[0].channelsNeeded;let ind = index">
                    <div class="clients_channels_type_title"><span>{{ind | translate : clientsKeysTranslations}}</span></div>
                    <ul>
                        <li *ngFor="let item of channnelNeeded | keys ">
                            <label *ngIf="item != '_id' && item != 'channelType'" class="field_label">{{item | translate : clientsKeysTranslations}}</label>
                            <input *ngIf="item != '_id' && item != 'channelType'" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[0].channelsNeeded[ind][item]" [placeholder]="configs.clients[0].channelsNeeded[ind][item]">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- MIDDLE CLIENT -->
        <div id="middleCoefficient" class="sections_separator"><span>Коэффициенты среднего клиента</span></div>
        <div class="clients_configurations">
            <ul>
                <li *ngFor="let key of middleClient">
                    <label *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" class="field_label">{{key | translate : keysTranslation}}</label>
                    <input *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" type="text" id="MinNeed" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[1][key]" [placeholder]="configs.clients[1][key]">
                </li>
            </ul>
            <div class="clients_channels_type">
                <div class="item" *ngFor="let channnelNeeded of configs.clients[1].channelsNeeded;let ind = index">
                    <div class="clients_channels_type_title"><span>{{ind | translate : clientsKeysTranslations}}</span></div>
                    <ul>
                        <li *ngFor="let item of channnelNeeded | keys ">
                            <label *ngIf="item != '_id' && item != 'channelType'" class="field_label">{{item | translate : clientsKeysTranslations}}</label>
                            <input *ngIf="item != '_id' && item != 'channelType'" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[1].channelsNeeded[ind][item]" [placeholder]="configs.clients[1].channelsNeeded[ind][item]">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- BIG CLIENT -->
        <div id="bigCoefficient" class="sections_separator"><span>Коэффициенты большого клиента</span></div>
        <div class="clients_configurations">
            <ul>
                <li *ngFor="let key of bigClient">
                    <label *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" class="field_label">{{key | translate : keysTranslation}}</label>
                    <input *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" type="text" id="MinNeed" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[2][key]" [placeholder]="configs.clients[2][key]">
                </li>
            </ul>
            <div class="clients_channels_type">
                <div class="item" *ngFor="let channnelNeeded of configs.clients[2].channelsNeeded;let ind = index">
                    <div class="clients_channels_type_title"><span>{{ind | translate : clientsKeysTranslations}}</span></div>
                    <ul>
                        <li *ngFor="let item of channnelNeeded | keys ">
                            <label *ngIf="item != '_id' && item != 'channelType'" class="field_label">{{item | translate : clientsKeysTranslations}}</label>
                            <input *ngIf="item != '_id' && item != 'channelType'" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[2].channelsNeeded[ind][item]" [placeholder]="configs.clients[2].channelsNeeded[ind][item]">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- VERY BIG CLIENT -->
        <div id="veryBigCoefficient" class="sections_separator"><span>Коэффициенты гипербольшого клиента</span></div>
        <div class="clients_configurations">
            <ul>
                <li *ngFor="let key of veryBigClient">
                    <label *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" class="field_label">{{key | translate : keysTranslation}}</label>
                    <input *ngIf="key!='_id' && key!='channelsNeeded' && key!='_type'" type="text" id="MinNeed" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[3][key]" [placeholder]="configs.clients[3][key]">
                </li>
            </ul>
            <div class="clients_channels_type">
                <div class="item" *ngFor="let channnelNeeded of configs.clients[2].channelsNeeded;let ind = index">
                    <div class="clients_channels_type_title"><span>{{ind | translate : clientsKeysTranslations}}</span></div>
                    <ul>
                        <li *ngFor="let item of channnelNeeded | keys ">
                            <label *ngIf="item != '_id' && item != 'channelType'" class="field_label">{{item | translate : clientsKeysTranslations}}</label>
                            <input *ngIf="item != '_id' && item != 'channelType'" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="configs.clients[3].channelsNeeded[ind][item]" [placeholder]="configs.clients[3].channelsNeeded[ind][item]">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>