@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.configurations {
    padding: 38px;
    margin-top: 89px;
    .rounds {
        margin-bottom: 47px;
        &_title {
            margin-bottom: 13px;
            span {
                @include configsLabel;
            }
        }
        &_add {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 19px;
            .rounds_duration {
                background-color: rgb(255, 255, 255);
                display: flex;
                text-align: center;
                height: 47px;
                border: 1px solid #c4c4c4;
                width: 67px;
                border-radius: 5px 0 0 5px;
                span {
                    margin: auto;
                    @include configInputs;
                }
            }
            .action_button {
                display: flex;
                align-items: center;
                height: 47px;
                background-color: rgb(255, 255, 255);
                border-radius: 0 8px 8px 0;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
                padding: 0 27px 0 8px;
                width: fit-content;
                cursor: pointer;
                .label {
                    @include addFont;
                }
                .icon {
                    margin-right: 9px;
                    height: 35px;
                    width: 35px;
                    background-color: $primary-color;
                    display: flex;
                    border-radius: 50%;
                    i {
                        color: rgb(255, 255, 255);
                        margin: auto;
                        font-size: 30px;
                    }
                }
            }
        }
        &_all {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &_item {
                &_container {
                    width: 90px;
                    height: 47px;
                    border-radius: 8px;
                    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
                    display: flex;
                    span {
                        @include roundsFont;
                        margin: auto;
                        &.light {
                            @include eventsFont;
                        }
                    }
                }
                &_delete {
                    text-align: center;
                    margin-top: -5px;
                    span {
                        @include tableBody;
                        cursor: pointer;
                    }
                }
                &:not(:last-child) {
                    margin-right: 18px;
                }
            }
        }
    }
    .configurations_form {
        &_title {
            span {
                @include configsLabel;
            }
        }
        .sections_separator {
            width: 100%;
            border-bottom: 1px solid #656565;
            margin-bottom: 15px;
            margin-top: 33px;
            display: flex;
            justify-content: space-between;
            span {
                display: block;
                @include sectionLabel;
                &.twoRowColumns {
                    margin-right: 177.5px;
                }
            }
        }
        .acitive_proactive_configurations {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 6px;
                width: 368px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .columns_label_index {
                    width: 8px;
                }
                .columns_label {
                    width: 93px;
                    &:first-child {
                        padding-left: 4px;
                    }
                    span {
                        @include configInputs;
                        white-space: nowrap;
                    }
                }
                .field_label {
                    @include configInputs
                }
                input {
                    border-radius: 5px;
                    border: 1px solid #c4c4c4;
                    text-align: center;
                    width: 93px;
                    @include configInputs;
                    &:focus {
                        outline: none;
                    }
                }
            }
            &.with_columns {
                &.twoRowColumns {
                    margin-right: 135px;
                }
                li {
                    width: 232px;
                }
            }
        }
        .clients_configurations {
            .clients_channels_type {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .item {
                    .clients_channels_type_title {
                        margin-bottom: 16px;
                        span {
                            @include addFont;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}