<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>
<td class="leftHeader">{{cityBots.name}}</td>

<td cdkDropList="cdkDropList" (cdkDropListDropped)="drop($event)" #beginerList="cdkDropList" [cdkDropListData]="easy" [cdkDropListConnectedTo]="[mediumList,perfectList]" [ngClass]="{'corner-left':addCorner,'corner-bottom-left':isLast}" class="table_row_item 0">
    <div *ngFor="let item of easy;let ind = index" [cdkDragData]="item" cdkDrag="cdkDrag" class="control_bot_container 0">
        <div class="android">
            <i class="material-icons">android</i>

            <span>{{item}}</span>
        </div>

        <div class="pause" (click)="startBotsGame(item)">
            <i class="material-icons">play_arrow</i>
        </div>

        <div class="play" (click)="stopBotsGroup(item)">
            <i class="material-icons">pause</i>
        </div>
    </div>
</td>

<td cdkDropList="cdkDropList" [cdkDropListData]="medium" #mediumList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[beginerList,perfectList]" class="table_row_item 1">
    <div *ngFor="let item of medium;let ind = index" [cdkDragData]="item" cdkDrag="cdkDrag" class="control_bot_container 1">
        <div class="android">
            <i class="material-icons">android</i>

            <span>{{item}}</span>
        </div>

        <div class="pause" (click)="startBotsGame(item)">
            <i class="material-icons">play_arrow</i>
        </div>

        <div class="play" (click)="stopBotsGroup(item)">
            <i class="material-icons">pause</i>
        </div>
    </div>
</td>
<td cdkDropList="cdkDropList" [cdkDropListData]="hard" #perfectList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[mediumList,beginerList]" [ngClass]="{'corner-right':addCorner,'corner-bottom-right':isLast}" class="table_row_item 2">
    <div *ngFor="let item of hard;let ind = index" [cdkDragData]="item" cdkDrag="cdkDrag" class="control_bot_container 2">
        <div class="android">
            <i class="material-icons">android</i>

            <span>{{item}}</span>
        </div>

        <div class="pause" (click)="startBotsGame(item)">
            <i class="material-icons">play_arrow</i>
        </div>

        <div class="play" (click)="stopBotsGroup(item)">
            <i class="material-icons">pause</i>
        </div>
    </div>
</td>