@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
td {
    border-right: 1px solid $warm-grey;
}

td:last-child {
    border-right: none;
}

tr {
    &:not(:last-child) {
        border-bottom: 1px solid rgba(112, 112, 112, 0.2)
    }
}

.top_header th {
    @include sectionLabel;
    text-align: center;
}

.invisible {
    border: none;
    background-color: transparent;
}

.leftHeader {
    width: 25%;
    font-weight: bold;
    background-color: transparent;
    border: none;
    width: 182px;
    @include sectionLabel;
    text-align: center;
}

th {
    width: 25%;
    background-color: transparent;
    border: none
}

.table_row_item {
    width: 272px;
    background: white;
    padding: 10px 0;
}

.corner-left {
    border-radius: 15px 0 0 0;
}

.corner-right {
    border-radius: 0 15px 0 0;
    border-right: 0 !important
}

.corner-bottom-left {
    border-radius: 0 0 0 15px !important;
}

.corner-bottom-right {
    border-radius: 0 0 15px 0 !important;
}

.control_bot_container {
    margin: 0 auto;
    width: 188px;
    height: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 0 8px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    .android {
        display: flex;
        align-items: center;
        width: 18px;
        height: 18px;
        margin-right: auto;
        i {
            color: $primary-color;
            font-size: 14px;
            margin-right: 6px;
        }
        span {
            display: block;
            @include addFont;
        }
    }
    .pause {
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        width: 18px;
        height: 18px;
        margin-right: 30px;
        cursor: pointer;
        i {
            margin: auto;
            color: white;
            font-size: 14px
        }
    }
    .play {
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        width: 18px;
        height: 18px;
        cursor: pointer;
        i {
            margin: auto;
            color: white;
            font-size: 14px
        }
    }
}

.disabled {
    user-select: none;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.4)
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}