<div class="actions">
    <div class="actions_title"><span>Действия</span></div>
    <div class="actions_container">
        <div class="action_button" (click)="addEnergyToTeam()">
            <span>Добавить энергию команде</span>
        </div>
        <div class="action_button" (click)="addClients()">
            <span>Добавить клиентов</span>
        </div>
    </div>

</div>