@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.actions {
    margin-bottom: 64px;
    &_title {
        margin-bottom: 9px;
        span {
            @include configsLabel;
        }
    }
    .actions_container {
        display: flex;
        align-items: center;
        .action_button {
            &:not(:last-child) {
                margin-right: 30px;
            }
            display: flex;
            align-items: center;
            height: 47px;
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            width: fit-content;
            padding: 0 12px;
            cursor: pointer;
            span {
                @include eventsFont;
                margin: auto;
            }
        }
    }
}