<div class="full_content">
    <div (click)="toggleMenu()" class="overlay" *ngIf="!showOverlay"></div>
    <div class="left_content" [ngClass]="{'navigation_open' : !isMenuOpen,'navigation_close': isMenuOpen}">
        <side-navigation-menu (handleOpenMenu)="toggleMenu()"></side-navigation-menu>
    </div>
    <div class="right_content">
        <router-outlet></router-outlet>
    </div>
</div>