@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
.full_content {
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }
    .left_content {
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.3s ease-out;
        z-index: 100;
        &.navigation_open {
            left: 0;
        }
        &.navigation_close {
            left: -288px !important;
        }
    }
    .right_content {
        margin-left: 288px;
        transition: all 0.3s ease-out;
        width: calc(100% - 288px);
    }
}

@media screen and (max-width: 1024px) {
    .expand {
        display: block !important;
    }
    .right_content {
        margin-left: 0 !important;
        width: 100% !important;
    }
}