@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.add_call {
    &_title {
        span {
            @include configInputs;
        }
    }
    .add_form {
        margin-top: 23px;
        input {
            @include configInputs;
            width: 100%;
            border: 1px solid #C4C4C4;
            border-radius: 5px;
            padding-left: 18px;
            height: 22px;
            &:focus {
                outline: none;
            }
        }
        .save_btn {
            width: 100%;
            margin-top: 58px;
            display: flex;
            justify-content: center;
            button {
                border-radius: 19px;
                background-color: $primary-color;
                border: none;
                width: 143px;
                height: 37px;
                @include saveButtonFont;
                &.disabled {
                    background-color: rgba(231, 18, 171, 0.4);
                }
            }
        }
    }
}

.label {
    span {
        @include configInputs;
    }
}