<div class="add_call">
    <div class="add_call_title"><span>Введите количество холодных звонков</span></div>
    <form class="add_form">
        <div [formGroup]="callAddForm">
            <div class="form_element">
                <div class="label"><span>Количество холодных звонков</span></div>
                <input type="number" formControlName="coldCallsLength">
            </div>
            <div class="form_element">
                <div class="label"><span>Количество передаваемой энергии </span></div>
                <input type="number" formControlName="energiesColdCalls">
            </div>
        </div>
        <div class="save_btn">
            <button [ngClass]="{'disabled':callAddForm.invalid}" [disabled]="callAddForm.invalid" (click)="closeDialog()">Сохранить</button>
        </div>
    </form>
</div>