<div class="add_energy">
  <div class="add_energy_title"><span>Выберите команду и отдавайте энергию</span></div>
  <form class="add_form" [formGroup]="addEnergyForm">
      <select formControlName="teamName" class="custom">
        <option [value]="team._id" *ngFor="let team of allTeams?.result">{{team.name}}</option>
      </select>
      <div>
          <input type="number" placeholder="количество энергии" formControlName="energies">
      </div>
    <div class="save_btn">
      <button [ngClass]="{'disabled':addEnergyForm.invalid}" [disabled]="addEnergyForm.invalid" (click)="onAddEnergy()">Сохранить</button>
    </div>
  </form>
</div>