<div class="add_client">
    <div class="add_client_title"><span>Введите количество клиентов</span></div>
    <form class="add_form">
        <div [formGroup]="clientdGameTimeAddForm">
            <input type="text" formControlName="count">
        </div>
        <div class="save_btn">
            <button [ngClass]="{'disabled':clientdGameTimeAddForm.invalid}" [disabled]="clientdGameTimeAddForm.invalid" (click)="onAddClient()">Сохранить</button>
        </div>
    </form>
</div>