@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.logs {}

.filter_via {
    padding: 38px 38px 0 38px;
    margin-top: 89px;
    .form-inline {
        display: flex;
        .filter_via_cities {
            margin-bottom: 15px;
            margin-right: 22px;
        }
        .filter_via_colors {
            margin-bottom: 15px;
            margin-right: 22px;
        }
        .filter_via_teams {
            margin-bottom: 15px;
            margin-right: 22px;
        }
        .filter_via_type {
            margin-bottom: 15px;
            margin-right: 22px;
        }
        .filter_via_username {
            margin-bottom: 15px;
            margin-right: 22px;
        }
        .filter_via_operations {
            margin-bottom: 15px;
        }
        .show_all {
            margin-top: 20px;
            span {
                @include tableBody;
                cursor: pointer;
            }
        }
        label {
            justify-content: flex-start;
            @include sectionLabel;
        }
        select,
        input {
            min-width: 127px;
            max-width: 202px;
            height: 25px;
            border: 1px solid #C4C4C4;
            border-radius: 3px;
            @include configInputs;
            line-height: 10px;
            padding-left: 4px;
        }
        .show_all {
            margin: 20px 0 0 22px;
            span {
                @include tableBody;
                cursor: pointer;
            }
        }
    }
    .table {
        max-width: 100%;
        margin-top: 40px;
        td,
        th {
            padding: 0 0 0 5px;
            border: 1px solid #c4c4c4;
            vertical-align: middle;
            @include tableHeader;
        }
        th {
            height: 28px;
        }
        td {
            height: 26px;
            @include configInputs;
        }
    }
}

.mat-elevation-z8 {
    padding: 38px;
}

.filter_via_all button {
    height: 60px;
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}