<div *ngIf="showLoadingOverlay" class="loading">
    Loading&#8230;</div>
<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" (isSaved)="_updateSettings()" [label]="'Логи'"></top-action-bar>
</div>
<div class="filter_via" *ngIf="_configs">
    <form [formGroup]="_filterForm" class="form-inline">
        <div class="filter_via_cities">
            <label>Города</label>
            <select formControlName="city" class="custom-select custom-select-sm">
                <option selected value="">Все</option>
                <option [value]="city._id" *ngFor="let city of allCities?.data">{{city.name}}</option>
            </select>
        </div>
        <div class="filter_via_colors">
            <label>Цвет</label>
            <select formControlName="colors" class="custom-select custom-select-sm">
                <option selected value="">Все</option>
                <option [value]="true">Синие</option>
                <option [value]="false">Красние</option>

            </select>
        </div>
        <div class="filter_via_teams">
            <label>Команда</label>
            <select formControlName="groupName" class="custom-select custom-select-sm">
                <option selected value="">Все</option>
                <option [value]="team.name" *ngFor="let team of groups?.result">{{team.name}}</option>
            </select>
        </div>
        <div class="filter_via_type">
            <label>Доходы / расходы</label>
            <select formControlName="by" class="custom-select custom-select-sm">
                <option [value]="''" selected>Все</option>
                <option>Доходы</option>
                <option>расходы</option>
            </select>
        </div>
        <div class="filter_via_username">
            <label>Номер игрока</label>
            <input formControlName="userName" type="number">
        </div>
        <div class="filter_via_operations">
            <label>Операция</label>
            <select formControlName="operation" class="custom-select custom-select-sm">
                <option [value]="''" selected>Все</option>
                <option *ngFor="let item of _configs.operations | keys">{{_configs.operations[item]}}</option>
            </select>
        </div>
        <div class="show_all">
            <span (click)="_showAllHistories()">Сбросить все фильтры</span>
        </div>
        <!-- <div class="filter_via_operations">
            <label>Операция</label>
            <select formControlName="operation" class="custom-select custom-select-sm">
                <option selected></option>
                <option *ngFor="let item of _configs.operations | keys">{{_configs.operations[item]}}</option>
            </select>
        </div>
        <div class="filter_via_groupName">
            <label>Имя группы</label>
            <select formControlName="groupName" class="custom-select custom-select-sm">
                <option selected></option>
                <option *ngFor="let item of groups.result">{{item.name}}</option>
            </select>
        </div>
        <div class="filter_via_groupName">
            <label>Доходы / расходы</label>
            <select formControlName="by" class="custom-select custom-select-sm">
                <option selected></option>
                <option>Доходы</option>
                <option>расходы</option>
            </select>
        </div>
        <div class="filter_via_username">
            <label>Номер игрока</label>
            <input formControlName="userName" style="width: 110px" class="form-control" type="number">
        </div> -->
    </form>
    <table class="table table-bordered ">
        <tr class="info">
            <th>Город</th>
            <!-- <th>Цвет</th> -->
            <th>Команда</th>
            <th>Номер игрока</th>
            <th>Энергия</th>
            <th>Операция</th>
            <th>Время</th>
        </tr>
        <tr class="info" *ngFor="let team of _dataSource">
            <td>{{team.cityName}}</td>
            <!-- <td>{{team.isConcurent ? 'Красние' : 'Синие'}}</td> -->
            <td>{{team.groupName}}</td>
            <td>{{team.userName}}</td>
            <td>{{team.energy}}</td>
            <td>{{team.operation}}</td>
            <td>{{team.time}}</td>
        </tr>

    </table>
</div>
<!-- <mat-table [dataSource]="_dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="groupName">
            <mat-header-cell *matHeaderCellDef> Имя группы </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.groupName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef> Имя клиента </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.clientName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="energy">
            <mat-header-cell *matHeaderCellDef> Энергия </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.energy}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef> Операция </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.operation}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef> Номер игрока </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Время </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->

<!-- <mat-paginator (page)="_paginatorChanged($event)" [length]="_historiesCount" [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator> -->