<div class="remote_control_game" *ngIf="controlButtonsState?.status">
    <div class="remote_control_game_title"><span>{{isTestGame ? 'Управление тестовой игрой' : 'Управление основной игрой'}}</span></div>
    <div class="game_controls" *ngIf="isTestGame">
        <div class="action_button" [ngClass]="{'disabled':checkIfButtonActive(controlKey.key,false)}" (click)="controlButtonClicked(controlKey.key,true)" *ngFor="let controlKey of controlKeys">
            <div class="icon">
                <i class="material-icons">
                            {{controlKey.icon}}
                            </i>
            </div>
            <div class="label">
                <span>{{controlKey.value}}</span>
            </div>
        </div>
        <div [ngClass]="{'disabled':checkIfButtonActive('reset',true)}" class="action_button" (click)="controlButtonClicked('reset',true)">
            <div class="icon">
                <i class="material-icons">
                        power_settings_new
                </i>
            </div>
            <div class="label">
                <span>Сброс без разлогина</span>
            </div>
        </div>
        <div [ngClass]="{'disabled':checkIfButtonActive('resume',true)}" class="action_button" (click)="controlButtonClicked('resume',true)">
            <div class="icon">
                <i class="material-icons">
                        arrow_right_alt
                </i>
            </div>
            <div class="label">
                <span>Продолжить</span>
            </div>
        </div>
        <!-- <button [disabled]="checkIfButtonActive(controlKey.key,true)" (click)="controlButtonClicked(controlKey.key,true)" *ngFor="let controlKey of controlKeys" class="btn">{{controlKey.value}}</button>
        <button [disabled]="checkIfButtonActive('reset',true)" (click)="controlButtonClicked('reset',true)" class="btn">Сброс без разлогина</button>
        <button [disabled]="checkIfButtonActive('resume',true)" (click)="controlButtonClicked('resume',true)" class="btn">Продолжить</button> -->

    </div>
    <div class="game_controls" *ngIf="!isTestGame">
        <div class="action_button" [ngClass]="{'disabled':checkIfButtonActive(controlKey.key,false)}" (click)="controlButtonClicked(controlKey.key,false)" *ngFor="let controlKey of controlKeys">
            <div class="icon">
                <i class="material-icons">
                                    {{controlKey.icon}}
                        </i>
            </div>
            <div class="label">
                <span>{{controlKey.value}}</span>
            </div>
        </div>
        <div [ngClass]="{'disabled':checkIfButtonActive('reset',false)}" class="action_button" (click)="controlButtonClicked('reset',false)">
            <div class="icon">
                <i class="material-icons">
                            power_settings_new
                    </i>
            </div>
            <div class="label">
                <span>Сброс</span>
            </div>
        </div>
        <div [ngClass]="{'disabled':checkIfButtonActive('resume',false)}" class="action_button" (click)="controlButtonClicked('resume',false)">
            <div class="icon">
                <i class="material-icons">
                            arrow_right_alt
                    </i>
            </div>
            <div class="label">
                <span>Продолжить</span>
            </div>
        </div>
        <!-- <button [disabled]="checkIfButtonActive(controlKey.key,false)" (click)="controlButtonClicked(controlKey.key,false)" *ngFor="let controlKey of controlKeys" class="btn">{{controlKey.value}}</button>
        <button [disabled]="checkIfButtonActive('reset',false)" (click)="controlButtonClicked('reset',false)" class="btn">Сброс</button>
        <button [disabled]="checkIfButtonActive('resume',false)" (click)="controlButtonClicked('resume',false)" class="btn">Продолжить</button> -->
    </div>
</div>