@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.remote_control_game {
    &_title {
        margin-bottom: 9px;
        span {
            @include configsLabel;
        }
    }
    .game_controls {
        display: flex;
        flex-wrap: wrap;
        .action_button {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            height: 47px;
            background-color: rgb(255, 255, 255);
            margin-right: 23px;
            border-radius: 8px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            padding: 0 27px 0 8px;
            &.disabled {
                user-select: none;
                opacity: 0.2;
            }
            cursor: pointer;
            .label {
                @include addFont;
            }
            .icon {
                margin-right: 9px;
                height: 35px;
                width: 35px;
                background-color: $primary-color;
                display: flex;
                border-radius: 50%;
                i {
                    color: rgb(255, 255, 255);
                    margin: auto;
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .game_controls {
        flex-direction: column !important;
        .action_button {
            margin-right: 0;
        }
    }
}