.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.cities_container {
    margin-top: 89px;
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}