<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false"  (isSaved)="handleIsSavedEvent()" [label]="'Города'"></top-action-bar>
</div>
<div class="cities_container">
    <cities-actions></cities-actions>
</div>