<div class="add_field">
    <div class="add_field_title"><span>Добавление поля</span></div>
    <form [formGroup]="fieldAddForm" class="add_form">
        <div>
            <input type="text" formControlName="ruKey" placeholder="Введите название поля">
        </div>
        <div>
            <input type="text" formControlName="key" placeholder="Введите key поля">
        </div>
        <div style="margin-bottom:30px " class="custom-control custom-checkbox">
            <input formControlName="isImage" type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Содержит ли это поле изображение</label>
        </div>
        <div>
            <select formControlName="groupOfFields" class="custom">
                <option>groupsName</option>
                <option>groupsNameText</option>
                <option>registration</option>
                <option>registrationText</option>
                <option>waitGameText</option>
                <option>unknown</option>
                <option>interface</option>
                <option>interfaceText</option>
                <option>clientPage</option>
                <option>clientPageText</option>
                <option>eventsText</option>
                <option>consumptionIncome</option>
                <option>gameRules</option>
                <option>mainScreen</option>
                <option>statistics</option>
                <option>statisticsText</option>
            </select>
        </div>
        <div class="save_btn">
            <button [ngClass]="{'disabled':fieldAddForm.invalid}" [disabled]="fieldAddForm.invalid" (click)="onFieldAdd()">Добавить</button>
        </div>
    </form>
</div>