@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.action_button {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 47px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    padding: 0 27px 0 8px;
    width: fit-content;
    &:not(:last-child) {
        margin-right: 30px;
    }
    cursor: pointer;
    .label {
        @include addFont;
    }
    .icon {
        margin-right: 9px;
        height: 35px;
        width: 35px;
        background-color: $primary-color;
        display: flex;
        border-radius: 50%;
        i {
            color: rgb(255, 255, 255);
            margin: auto;
            font-size: 30px;
        }
    }
}

.bots_container {
    margin-top: 89px;
    padding: 38px;
    .buttons_container {
        display: flex;
        align-items: center;
    }
    .bots_view {
        td:not(:first-child) {
            border-right: 1px solid $warm-grey;
        }
        tr {
            min-height: 105px;
            height: auto;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(112, 112, 112, 0.2)
            }
        }
        .top_header th {
            @include sectionLabel;
            text-align: center;
            padding: 6px 0;
        }
        .invisible {
            border: none;
            background-color: transparent;
        }
        th {
            width: 25%;
            background-color: transparent;
            border: none
        }
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}