<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>
<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" (isSaved)="handleIsSavedEvent()" [label]="'Управление ботом'"></top-action-bar>
</div>
<div class="bots_container">
    <div class="buttons_container">
        <div class="action_button" (click)="startAllBots()">
            <div class="icon">
                <i class="material-icons">
                    play_arrow    
                            </i>
            </div>
            <div class="label">
                <span>Активировать бота </span>
            </div>
        </div>
        <div class="action_button" (click)="stopAllBots()">
            <div class="icon">
                <i class="material-icons">
                            pause    
                            </i>
            </div>
            <div class="label">
                <span>Остановить</span>
            </div>
        </div>
    </div>
    <div class="bots_view">
        <table *ngIf="isActiveBot">
            <thead>
                <tr class="top_header">
                    <th class="invisible"></th>
                    <th>Плохая игра</th>
                    <th>Средняя игра</th>
                    <th>Хорошая игра</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of allCities?.data;let ind = index" [isLast]="(ind + 1 == allCities.data.length) ? true : false" [cityBots]="city" [addCorner]="ind == 0 ? true : false " CdkDropListGroup each-city-bots>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="action_button" (click)="openBotsControl()" style="margin-top: 30px;">
        <div class="icon">
            <i class="material-icons">
                pause    
                        </i>
        </div>
        <div class="label">
            <span>Управление всеми ботами</span>
        </div>
    </div>
</div>