@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.action_bar {
    height: 89px;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #f0f0f0;
    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 22px 0 38px;
        height: 100%;
        &_label {
            span {
                @include topActionLabel
            }
        }
        &_save {
            button {
                border-radius: 19px;
                background-color: $primary-color;
                border: none;
                width: 143px;
                height: 37px;
                @include saveButtonFont;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .action_bar {
        &_container {
            padding: 0 22px 0 12px !important;
            &_label {
                span {
                    font-size: 20px !important;
                }
            }
            &_save {
                button {
                    font-size: 15px !important
                }
            }
        }
    }
}