<div class="action_bar">
    <div class="action_bar_container">
        <div class="action_bar_container_label"><span>{{label}}</span></div>
        <div *ngIf="showSaveButton" class="action_bar_container_save"><button (click)="handleSaveButtonTap()">Сохранить</button></div>
    </div>
</div>