@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.actions_for_screens {
    margin-top: 89px;
    padding: 38px;
    &_label {
        margin-bottom: 7px;
        span {
            @include sectionLabel
        }
    }
    &_body {
        width: 393px;
        border-radius: 2px;
        border: 1px solid #c4c4c4;
        background: rgb(255, 255, 255);
        .link_item {
            display: flex;
            align-items: center;
            height: 26px;
            &:not(:last-child) {
                border-bottom: 1px solid #c4c4c4;
            }
            &_key {
                width: 36.64%;
                padding-left: 14px;
                border-right: 1px solid #c4c4c4;
                span {
                    @include addFont;
                }
            }
            &_value {
                width: 63.36%;
                input {
                    width: 100%;
                    height: 95%;
                    border: none;
                    text-align: center;
                    @include addFont;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    .edit_screen_size {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        flex-wrap: wrap;
        &_item {
            margin-right: 10px;
            width: 167px;
            height: 57px;
            border: 1px solid #c4c4c4;
            background-color: rgb(255, 255, 255);
            position: relative;
            margin-bottom: 45px;
            &_label {
                position: absolute;
                span {
                    @include sectionLabel;
                    white-space: nowrap;
                }
                top: -27px;
            }
            &_width {
                height: 50%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-child) {
                    border-bottom: 1px solid #c4c4c4;
                }
                &_key {
                    padding-left: 14px;
                    width: 55.38%;
                    height: 100%;
                    border-right: 1px solid #c4c4c4;
                    span {
                        @include addFont;
                    }
                }
                &_value {
                    width: 44.62%;
                    height: 100%;
                    input {
                        width: 100%;
                        height: 95%;
                        border: none;
                        @include addFont;
                        text-align: center;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            &_height {
                height: 50%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 420px) and (max-width: 1024px) {
    .actions_for_screens {
        padding: 12px !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 420px) {
    .actions_for_screens {
        padding: 12px !important;
        &_body {
            width: 300px !important;
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 400px) {
    .edit_screen_size {
        justify-content: space-around !important;
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}