<div class="top_bar_container">
    <top-action-bar (isSaved)="handleIsSavedEvent()" [label]="'Настройка экранов'"></top-action-bar>
</div>
<div class="actions_for_screens">
    <div class="actions_for_screens_label"><span>Ссылки на экраны</span></div>
    <div class="actions_for_screens_body" *ngIf="allCities?.data.length > 0">
        <div class="link_item">
            <div class="link_item_key"><span>Рейтинг</span></div>
            <div class="link_item_value"><input type="text" placeholder="rates.relations.games"></div>
        </div>
        <div class="link_item" *ngFor="let city of allCities.data ">
            <div class="link_item_key"><span>{{city.name}}</span></div>
            <div class="link_item_value"><input type="text" value="{{'live.relations.games/?id=' + city._id}}" placeholder="live1.relations.games"></div>
        </div>

    </div>
    <div class="edit_screen_size">
        <div class="edit_screen_size_item" *ngFor="let screen of screenSizes">
            <div class="edit_screen_size_item_label"><span>{{screen}}</span></div>
            <div class="edit_screen_size_item_width">
                <div class="edit_screen_size_item_width_key"><span>Ширина</span></div>
                <div class="edit_screen_size_item_width_value"><input type="text" placeholder="1366"></div>
            </div>
            <div class="edit_screen_size_item_height">
                <div class="edit_screen_size_item_width_key"><span>Высота</span></div>
                <div class="edit_screen_size_item_width_value"><input type="text" placeholder="1024"></div>
            </div>
        </div>
    </div>
</div>