.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.teams {
    margin-top: 89px;
    padding: 38px;
    .teams_filter_container {
        margin: 36px 0 55px 0;
    }
    .action_button {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        height: 47px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0 27px 0 8px;
        width: fit-content;
        cursor: pointer;
        .label {
            @include addFont;
        }
        .icon {
            margin-right: 9px;
            height: 35px;
            width: 35px;
            background-color: $primary-color;
            display: flex;
            border-radius: 50%;
            i {
                color: rgb(255, 255, 255);
                margin: auto;
                font-size: 30px;
            }
        }
    }
    .delete_all_teams{
        span{
            @include tableBody;
            cursor: pointer;
        }
    }
    .table {
        max-width: 584px;
        td,
        th {
            padding: 0 0 0 17px;
            border: 1px solid #c4c4c4;
            vertical-align: middle;
        }
        th {
            height: 28px;
            @include tableHeader;
            &:last-child {
                display: none;
            }
        }
        td {
            height: 26px;
            @include configInputs;
            &:last-child {
                border: none;
                @include tableBody;
                padding-left: 6px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}