<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" (isSaved)="_editConfigurations()" [label]="'Команды'"></top-action-bar>
</div>

<div class="teams">
    <div class="action_button" (click)="addTeam()">
        <div class="icon">
            <i class="material-icons">
                        add
                        </i>
        </div>
        <div class="label">
            <span>Добавить</span>
        </div>
    </div>
    <div class="teams_filter_container">
        <teams-filter (filteredTeams)="_getAllTeams($event)" [teams]="allTeams"></teams-filter>
    </div>
    <div (click)="deleteAllTeams()" class="delete_all_teams"><span> Удалить все команды</span></div>
    <table class="table table-bordered ">
        <tr class="info">
            <th>Город</th>
            <th>Номер</th>
            <th>Цвет</th>
            <th>Код</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <tr class="info" *ngFor="let team of allTeams">
            <td>{{team.cityId.name}}</td>
            <td>{{team.name}}</td>
            <td>{{team.isConcurent ? 'Красный' : 'Синий'}}</td>
            <td>{{team.code}}</td>
            <td>{{team.members.length > 0 ? 'Зарегестрировался' : 'Не зарегестрировался'}}</td>
            <td (click)="_deleteTeam(team._id)">удалить</td>
        </tr>

    </table>
</div>