<div class="add_city">
    <div class="add_city_title"><span>Введите название города</span></div>
    <form class="add_form">
        <div [formGroup]="cityAddForm">
            <input type="text" formControlName="name">
        </div>
        <div class="save_btn">
            <button [ngClass]="{'disabled':cityAddForm.invalid}" [disabled]="cityAddForm.invalid" (click)="onAddCity()">Сохранить</button>
        </div>
    </form>
</div>