<div class="rounds_backup" *ngIf="showBackUpView">
    <div class="rounds_backup_title"><span>Восстановление тестовых раундов</span></div>
    <div class="rounds_cointainer">
        <div (click)="backUp(ind)" [ngClass]="{'disabled': isDisable(ind)}" class="rounds_cointainer_item" *ngFor="let round of roundCount;let ind=index">
            <span>{{ind + 1}}</span>
        </div>
    </div>
</div>