@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.rounds_backup {
    margin-top: 64px;
    &_title {
        margin-bottom: 9px;
        span {
            @include configsLabel;
        }
    }
    .rounds_cointainer {
        display: flex;
        align-items: center;
        &_item {
            &.disabled {
                opacity: 0.4;
                user-select: none;
                pointer-events: none;
            }
            cursor: pointer;
            width: 90px;
            height: 47px;
            border-radius: 8px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            background-color: rgb(255, 255, 255);
            display: flex;
            span {
                margin: auto;
                @include citiesFont;
            }
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}