<ul>
    <li *ngFor="let image of uploadLabels">
        <div class="item_label"><span> {{image.label}}</span></div>
        <div class="upload-btn-wrapper">
            <button class="btn">Выберите файл</button>
            <input (change)="uploadImage($event,image.key)" type="file" name="myfile" />
        </div>
        <img src="{{baseUrl + settings?.colors[image.key]}}" alt="">
    </li>
</ul>