@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    padding: 0;
    li {
        width: 80%;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        .item_label {
            margin-right: auto;
            span {
                @include addFont;
            }
        }
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            margin-right: 5px;
            .btn {
                border: 1px solid #c4c4c4;
                @include addFont;
                background-color: white;
                padding: 0px 12px;
                border-radius: 5px;
            }
            input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }
        img {
            height: auto;
            max-width: 75px;
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 1220px) {
    ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        list-style: none;
        li {
            width: 100%;
        }
    }
}