<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" (isSaved)="handleIsSavedEvent()" [label]="'Пульт управления игрой'"></top-action-bar>
</div>
<div class="remote_control">
    <div class="remote_control_container">
        <div class="set_config">
            <set-configs></set-configs>
        </div>
        <div class="test_game">
            <remote-control-game [isTestGame]='true' [controlButtonsState]="controlButtonsState?.gameStateTest" (controlButtonToggled)="handleButtonTogle($event)"></remote-control-game>
        </div>
        <div class="main_game">
            <remote-control-game [isTestGame]='false' [controlButtonsState]="controlButtonsState?.gameState" (controlButtonToggled)="handleButtonTogle($event)"></remote-control-game>
        </div>
        <div class="support_and_crysis">
            <support-and-crysis></support-and-crysis>
        </div>

        <div class="screen_control">
            <screen-control></screen-control>
        </div>
        <div class="rounds_backup">
            <rounds-backup></rounds-backup>
        </div>
        <div class="actions">
            <actions></actions>
        </div>
        <!-- <div class="remote_control_game_title"><span>Управление игрой</span></div>

        <div class="game_controls">
            <div class="action_button" (click)="pauseRealGame()">
                <div class="icon">
                    <i class="material-icons">
                            pause     
                     </i>
                </div>
                <div class="label">
                    <span>Пауза</span>
                </div>
            </div>
            <div class="action_button" (click)="resumeRealGame()">
                <div class="icon">
                    <i class="material-icons">
                            arrow_right_alt
                    </i>
                </div>
                <div class="label">
                    <span>Продолжить</span>
                </div>
            </div>
        </div> -->
    </div>
</div>