@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.remote_control {
    margin-top: 89px;
    .remote_control_game_title {
        margin-bottom: 9px;
        span {
            @include configsLabel;
        }
    }
    &_container {
        padding: 38px;
        .test_game {
            margin-bottom: 33px;
        }
        .main_game {
            margin-bottom: 34px;
        }
    }
}

.game_controls {
    .action_button {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        height: 47px;
        background-color: rgb(255, 255, 255);
        margin-right: 23px;
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0 27px 0 8px;
        cursor: pointer;
        .label {
            @include addFont;
        }
        .icon {
            margin-right: 9px;
            height: 35px;
            width: 35px;
            background-color: $primary-color;
            display: flex;
            border-radius: 50%;
            i {
                color: rgb(255, 255, 255);
                margin: auto;
                font-size: 30px;
            }
        }
    }
    display: flex;
    flex-wrap: wrap;
    button {}
}

.rounds_backup {
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}