<!------ Include the above in your HEAD tag ---------->

<section class="login-block">

    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Залогиниться</h2>
                <form [formGroup]="loginForm" class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Электронная почта</label>
                        <input formControlName="login" type="text" class="form-control" placeholder="">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Пароль</label>
                        <input formControlName="password" type="password" class="form-control" placeholder="">
                    </div>


                    <div class="form-group">
                        <button [disabled]="loginForm.invalid" type="submit" (click)="onSignIn()" class="btn btn-login float-left">Войти</button>
                    </div>

                </form>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>