<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>
<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" [label]="'Клиенты'"></top-action-bar>
</div>
<div class="clients">
    <div class="clients_add">
        <clients-add-form (clientsAdded)="handleClientsAdded()"></clients-add-form>
    </div>
    <div class="clients_all" *ngFor="let city of allCities?.data">
        <div class="city_title"><span>{{city.name}}</span></div>
        <table class="table table-bordered">
            <tr class="info">
                <th>Тип клиента</th>
                <th>Количество</th>
            </tr>
            <tr class="info">
                <td>Малый</td>
                <td>{{city.smallClient}}</td>
            </tr>
            <tr class="info">
                <td>Средний</td>
                <td>{{city.averageClient}}</td>
            </tr>
            <tr class="info">
                <td>Большой</td>
                <td>{{city.bigClient}}</td>
            </tr>
            <tr class="info">
                <td>Гипербольшой</td>
                <td>{{city.veryBigClient}}</td>
            </tr>
        </table>
    </div>
</div>