@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.clients {
    padding: 38px;
    margin-top: 89px;
    &_add {
        margin-bottom: 42px;
    }
    &_all {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 74px;
        }
        .city_title {
            margin-bottom: 13px;
            span {
                @include tableHeader;
            }
        }
        .table {
            max-width: 290px;
            td,
            th {
                padding: 0 26px 0 6.5px;
                border: 1px solid #c4c4c4;
                vertical-align: middle;
            }
            th {
                height: 28px;
                @include tableHeader;
                font-family: OpenSans;
            }
            td {
                height: 26px;
                @include configInputs;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}