@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@mixin menuFontStyles {
    font-family: OpenSans Light;
    font-size: 18px;
    line-height: 24px;
    color: $text-color;
    cursor: pointer;
}

@mixin saveButtonFont {
    font-family: OpenSans;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@mixin topActionLabel {
    font-family: OpenSans-SemiBold;
    font-size: 22px;
    line-height: 30px;
    color: #0058ff;
}

@mixin citiesFont {
    font-family: OpenSans-Bold;
    font-size: 22px;
    line-height: 30px;
    color: $primary-color;
}

@mixin addFont {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 19px;
    color: $warm-grey;
}

@mixin customizationLabel {
    font-family: OpenSans-SemiBold;
    font-size: 22px;
    line-height: 30px;
}

@mixin sectionLabel {
    font-family: OpenSans;
    font-size: 16px;
    line-height: 22px;
    color: $warm-grey;
}

@mixin configsLabel {
    font-family: OpenSans;
    font-size: 22px;
    line-height: 30px;
    color: $warm-grey;
}

@mixin configInputs {
    font-family: OpenSans Light;
    font-size: 14px;
    line-height: 19px;
    color: $warm-grey;
}

@mixin menuExpandLabel {
    font-family: OpenSans Light;
    font-size: 16px;
    line-height: 22px;
    color: #656565;
}

@mixin eventsFont {
    font-family: OpenSans-SemiBold;
    font-size: 14px;
    line-height: 19px;
    color: $primary-color;
}

@mixin eventDescriptionFont {
    font-family: OpenSans Light;
    font-size: 12px;
    line-height: 17px;
    color: $warm-grey;
}

@mixin tableHeader {
    font-family: OpenSans-SemiBold;
    font-size: 18px;
    line-height: 24px;
    color: $warm-grey;
}

@mixin tableBody {
    font-family: OpenSans Light;
    font-size: 12px;
    line-height: 17px;
    color: $primary-color;
}

@mixin roundsFont {
    font-family: OpenSans-Bold;
    font-size: 22px;
    line-height: 19px;
    color: $primary-color;
}

@mixin LoginHeader {
    font-weight: 800;
    font-size: 30px;
    color: $primary-color;
}

@mixin coldCalls {
    font-family: OpenSans;
    font-size: 18px;
    line-height: 24px;
    color: $warm-grey;
}