<div class="add_team">
    <form *ngIf="teamAddForm" [formGroup]="teamAddForm" class="add_form">
        <div class="form_element">
            <div class="label"><span>Количество команд</span></div>
            <input type="text" formControlName="count" />
        </div>
        <div class="form_element">
            <div class="label"><span>код</span></div>
            <input type="text" formControlName="code" />
        </div>
        <div class="form_element">
            <div class="label"><span>номер</span></div>
            <input type="text" formControlName="name" />
        </div>
        <div class="form_element">
            <div class="label"><span>Город</span></div>
            <select formControlName="cityId" class="custom">
                    <option [value]="city._id" *ngFor="let city of allCities?.data">{{city.name}}</option>
                </select>
        </div>
        <div class="form_element">
            <div class="label"><span>Цвет</span></div>
            <select formControlName="isConcurent" class="custom">
                    <option selected value="false">Синий</option>
                    <option value="true">Красный</option>
                </select>
        </div>
        <div class="save_btn">
            <button [ngClass]="{'disabled':teamAddForm.invalid}" (click)="onTeamAdd()">Сохранить</button>
        </div>

    </form>
</div>