@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.add_team {
    .add_form {
        .form_element {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            .label {
                span {
                    @include configInputs;
                }
            }
            select {
                width: 93px;
                height: 22px;
                border: 1px solid #C4C4C4;
                border-radius: 5px;
                @include configInputs;
                padding-left: 12px;
            }
            input {
                @include configInputs;
                border: 1px solid #C4C4C4;
                border-radius: 5px;
                padding-left: 12px;
                width: 93px;
                height: 22px;
                &:focus {
                    outline: none;
                }
            }
        }
        .save_btn {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            button {
                border-radius: 19px;
                background-color: $primary-color;
                border: none;
                width: 143px;
                height: 37px;
                @include saveButtonFont;
                &.disabled {
                    background-color: rgba(231, 18, 171, 0.4);
                }
            }
        }
    }
}