@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.cold-calls {
    padding: 62px 38px 38px 38px;
    margin-top: 89px;
    .action_button {
        display: flex;
        align-items: center;
        height: 47px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0 27px 0 8px;
        width: fit-content;
        cursor: pointer;
        .label {
            @include addFont;
        }
        .icon {
            margin-right: 9px;
            height: 35px;
            width: 35px;
            background-color: $primary-color;
            display: flex;
            border-radius: 50%;
            i {
                color: rgb(255, 255, 255);
                margin: auto;
                font-size: 30px;
            }
        }
    }
    .generated {
        margin-top: 21px;
        span {
            @include coldCalls;
        }
    }
    .used {
        margin-top: 6px;
        span {
            @include coldCalls;
        }
    }
    .delete_all_number {
        margin-top: 31px;
        span {
            @include tableBody;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1024px) {
    .top_bar_container {
        width: 100% !important;
    }
}