<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>
<div class="top_bar_container">
    <top-action-bar [showSaveButton]="false" (isSaved)="_editConfigurations()" [label]="'Холодные звонки'"></top-action-bar>
</div>
<div class="cold-calls">
    <div class="action_button" (click)="openNumbersModal()">
        <div class="icon">
            <i class="material-icons">
                            add
                            </i>
        </div>
        <div class="label">
            <span>Сгенерировать номера</span>
        </div>
    </div>
    <div class="generated"><span>Сгенерировано:{{ generatedNumber}}</span></div>
    <div class="used"><span>Использовано: {{usedNumber}}</span></div>
    <div class="delete_all_number" (click)="deleteAllNumber()"><span>Удалить все номера</span></div>
</div>