<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>

<div class="set_config">
    <div class="set_config_title"><span>Конфигурации</span></div>
    <div class="action_button" (click)="setConfigs()">
        <div class="icon">
            <i class="material-icons">
                            check
                            </i>
        </div>
        <div class="label">
            <span>Применить конфигурации</span>
        </div>
    </div>
</div>