@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.set_config {
    margin-bottom: 64px;
    &_title {
        margin-bottom: 9px;
        span {
            @include configsLabel;
        }
    }
    .action_button {
        display: flex;
        align-items: center;
        height: 47px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0 27px 0 8px;
        width: fit-content;
        margin-right: 42px;
        cursor: pointer;
        .label {
            @include addFont;
        }
        .icon {
            margin-right: 9px;
            height: 35px;
            width: 35px;
            background-color: $primary-color;
            display: flex;
            border-radius: 50%;
            i {
                color: rgb(255, 255, 255);
                margin: auto;
                font-size: 30px;
            }
        }
    }
}