<div class="filter_via">
    <form [formGroup]="filterForm" class="form-inline">
        <div class="filter_via_cities">
            <label>Города</label>
            <select formControlName="city" class="custom-select custom-select-sm">
                <option selected value="">Все</option>
                <option [value]="city._id" *ngFor="let city of allCities?.data" >{{city.name}}</option>
            </select>
        </div>
        <div class="filter_via_groupNumber">
            <label>Номер команды</label>
            <input formControlName="teamNumber" type="text">
        </div>
        <div class="filter_via_color">
            <label>Цвет</label>
            <select formControlName="isConcurent" class="custom-select custom-select-sm">
                <option selected value="">Все</option>

                <option [value]="false">Синий</option>
                <option [value]="true">Красный</option>
            </select>
        </div>
        <div class="filter_via_status">
            <label>Статус</label>
            <select formControlName="isRegistered" class="custom-select custom-select-sm">
                <option selected value="">Все</option>
                <option [value]="'false'">Не зарегестрировался</option>
                <option [value]="true">Зарегестрировался</option>
            </select>
        </div>
        <div class="show_all">
            <span (click)="showAllTeams()">Сбросить все фильтры</span>
        </div>
    </form>
</div>