@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.filter_via {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin-bottom: 50px;
    .form-inline {
        .filter_via_cities {
            margin-right: 22px;
            select {
                width: 127px;
            }
        }
        .filter_via_groupNumber {
            margin-right: 47px;
            input {
                width: 120px;
            }
        }
        .filter_via_color {
            margin-right: 44px;
            select {
                width: 92px
            }
        }
        .filter_via_status {
            margin-right: 33px;
            select {
                width: 202px
            }
        }
        .show_all {
            margin-top: 20px;
            span {
                @include tableBody;
                cursor: pointer;
            }
        }
        label {
            justify-content: flex-start;
            @include sectionLabel;
        }
        select,
        input {
            height: 25px;
            border: 1px solid #C4C4C4;
            border-radius: 3px;
            @include configInputs;
            line-height: 10px;
            padding-left: 4px;
        }
    }
}