<div class="cities">
    <div class="action_button" (click)="addCity()">
        <div class="icon">
            <i class="material-icons">
                        add
                        </i>
        </div>
        <div class="label">
            <span>Добавить город</span>
        </div>
    </div>
    <div class="cities_container" *ngIf="_allCities">
        <div class="city_item" *ngFor="let city of allCities.data">
            <div class="city">
                <span>{{city.name}}</span>
            </div>
            <div class="delete text-center">
                <span (click)="_removeCity(city._id)">Удалить</span>
            </div>
        </div>
    </div>
</div>