@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.cities {
    padding: 38px;
    .action_button {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        height: 47px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0 27px 0 8px;
        width: fit-content;
        cursor: pointer;
        .label {
            @include addFont;
        }
        .icon {
            margin-right: 9px;
            height: 35px;
            width: 35px;
            background-color: $primary-color;
            display: flex;
            border-radius: 50%;
            i {
                color: rgb(255, 255, 255);
                margin: auto;
                font-size: 30px;
            }
        }
    }
    &_container {
        display: flex;
        align-items: center;
        // justify-content: space-around;
        margin-top: 62px;
        flex-wrap: wrap;
        .city_item {
            margin-right: 42px;
            margin-bottom: 30px;
            .city {
                width: 154px;
                height: 47px;
                border-radius: 8px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
                background-color: rgb(255, 255, 255);
                display: flex;
                min-width: 154px;
                span {
                    margin: auto;
                    @include citiesFont;
                }
            }
            .delete {
                span {
                    font-family: OpenSans Light;
                    font-size: 12px;
                    line-height: 17px;
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .cities_container {
        justify-content: space-around !important;
    }
    .city_item {
        margin-right: 0 !important;
    }
    .cities {
        padding: 12px !important;
    }
}