<div class="support_and_crysis">
    <div class="support_and_crysis_title"><span>События</span></div>
    <div class="support_and_crysis_container">
        <div class="item" *ngFor="let action of actions">
            <div (click)="processEvents(action.key)" class="item_title"><span>{{action.title}}</span></div>
            <!-- <div class="item_title"><span>{{action.title}}</span></div> -->
            <div class="item_description">
                <p>{{action.description}}</p>
            </div>
        </div>
    </div>
</div>