@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.support_and_crysis {
    &_title {
        span {
            @include configsLabel;
        }
        margin-bottom: 9px;
    }
    &_container {
        .item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 21px;
            &_title {
                height: 47px;
                background-color: rgb(255, 255, 255);
                border-radius: 8px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
                display: flex;
                min-width: 206px;
                margin-right: 38px;
                cursor: pointer;
                span {
                    @include eventsFont;
                    margin: auto
                }
            }
            &_description {
                p {
                    @include eventDescriptionFont;
                    white-space: pre-wrap;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .item {
        margin-bottom: 10px;
        justify-content: center;
        flex-wrap: wrap !important;
        &_title {
            margin-top: 9px;
            order: 2 !important;
            margin-right: 0 !important;
            width: 100% !important;
        }
        &_description {
            order: 1 !important;
            width: 100% !important;
            p {
                text-align: center !important;
            }
        }
    }
}