<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>
<div class="top_bar_container">
    <top-action-bar (isSaved)="_updateSettings()" [label]="'Кастомизация интерфейса'"></top-action-bar>
</div>
<div class="file_upload_container">
    <div class="interface_type">
        <div *ngFor="let type of interfaceTypes" [class.active]="type.key === activeType.key" (click)="setActiveType(type)"><span>{{type.value}}</span></div>
    </div>
    <div [ngSwitch]="activeType.key">
        <div *ngSwitchCase="'texts'">
            <texts-and-colors [columnCount]="1" [key]="'groupsNameText'" [label]="'Названия команд'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'registrationText'" [label]="'Регистрация'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'waitGameText'" [label]="'Ожидание игры'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'interfaceText'" [label]="'Интерфейс'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'clientPageText'" [label]="'Страница клиента'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'operations'" [label]="'Расходы/доходы'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'eventsText'" [label]="'События'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'statisticsText'" [label]="'Статистики'"></texts-and-colors>


        </div>
        <div *ngSwitchCase="'colors'">
            <div class="action_button" (click)="addField()">
                <div class="icon">
                    <i class="material-icons">
                                                        add
                                                        </i>
                </div>
                <div class="label">
                    <span>Добавить поле</span>
                </div>
            </div>
            <files-upload [settings]="settings" (imageWasUplaoded)="handleImageUpload()"></files-upload>

            <texts-and-colors [columnCount]="1" [key]="'groupsName'" [label]="'Названия команд'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'registration'" [label]="'Регистрация'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'unknown'" [label]="'Регистрация'"></texts-and-colors>
            <texts-and-colors [key]="'interface'" [label]="'Интерфейс'"></texts-and-colors>
            <texts-and-colors [key]="'clientPage'" [label]="'Страница клиента'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'consumptionIncome'" [label]="'Расходы/доходы'"></texts-and-colors>
            <texts-and-colors [columnCount]="1" [key]="'gameRules'" [label]="'Правила игры'"></texts-and-colors>
            <texts-and-colors [key]="'mainScreen'" [label]="'Главный экран'"></texts-and-colors>
            <texts-and-colors [key]="'statistics'" [label]="'Статистики'"></texts-and-colors>
        </div>

    </div>

</div>