@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.top_bar_container {
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    z-index: 99;
}

.file_upload_container {
    padding: 38px;
    margin-top: 89px;
    .interface_type {
        display: flex;
        align-items: center;
        div {
            width: 109px;
            color: $text-color;
            cursor: pointer;
            &.active {
                color: $primary-color;
                border-bottom: 4px solid $primary-color
            }
            span {
                @include customizationLabel;
            }
            &:first-child {
                margin-right: 74px;
            }
        }
    }
    .file_upload_label {
        margin: 41px 0 20.5px 0;
        width: 100%;
        border-bottom: 1px solid $text-color;
        span {
            @include sectionLabel;
        }
    }
    .registration_fields {
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 10px;
                width: 280px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .field_label {
                    span {
                        @include addFont
                    }
                }
                input {
                    border-radius: 5px;
                    border: 1px solid #c4c4c4;
                    text-align: center;
                    width: 93px;
                    @include addFont;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        &.texts {
            ul {
                li {
                    width: 246px
                }
            }
        }
        &.regs {
            ul {
                li {
                    width: 100%;
                    input {
                        width: 60%;
                        text-align: left;
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}

.teams_name {
    margin-top: 46.5px;
    width: 246px;
    border-bottom: 1px solid $text-color;
    margin-bottom: 11.5px;
    span {
        @include sectionLabel;
    }
}

.registration_fields_label,
.game_rules_label {
    margin-top: 33px;
    width: 100%;
    border-bottom: 1px solid $text-color;
    margin-bottom: 11.5px;
    span {
        @include sectionLabel;
    }
}

.action_button {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    height: 47px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    padding: 0 27px 0 8px;
    width: fit-content;
    cursor: pointer;
    .label {
        @include addFont;
    }
    .icon {
        margin-right: 9px;
        height: 35px;
        width: 35px;
        background-color: $primary-color;
        display: flex;
        border-radius: 50%;
        i {
            color: rgb(255, 255, 255);
            margin: auto;
            font-size: 30px;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .file_upload_container {
        padding: 12px !important;
    }
    .interface_type {
        div {
            span {
                font-size: 20px !important;
            }
        }
    }
    .top_bar_container {
        width: 100% !important;
    }
}