@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.texts_and_colors {
    &_label {
        display: flex;
        justify-content: space-between;
        margin-top: 46.5px;
        width: 100%;
        border-bottom: 1px solid $text-color;
        margin-bottom: 11.5px;
        span {
            display: block;
            @include sectionLabel;
            &:last-child {
                @include tableBody;
                cursor: pointer;
            }
        }
    }
    .texts_and_colors_fields {
        ul {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 10px;
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .field_label {
                    margin-right: auto;
                    span {
                        @include addFont;
                    }
                }
                input {
                    border-radius: 5px;
                    border: 1px solid #c4c4c4;
                    text-align: center;
                    width: 93px;
                    @include addFont;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

i {
    font-size: 30px;
    width: 30px;
    color: red;
    cursor: pointer;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    .btn {
        border: 1px solid #c4c4c4;
        @include addFont;
        background-color: white;
        padding: 0px 12px;
        border-radius: 5px;
    }
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}