<div *ngIf="showLoadingOverlay" class="loading">Loading&#8230;</div>

<div class="texts_and_colors">
    <div class="texts_and_colors_label"><span>{{label}}</span><span (click)="_updateFieldsOfGroup()">Сохранить</span></div>
    <div class="texts_and_colors_fields">
        <ul [ngStyle]="{'columns':columnCount}" *ngIf="_allFieldOfGroup?.data?.length > 0 || key == 'operations' ">
            <div *ngIf="!(key == 'operations')">
                <li *ngFor="let field of allFieldOfGroup.data;let ind = index">
                    <i (click)="delteField(field)" class="material-icons">
                                        delete
                                        </i>
                    <div class="field_label"><span>{{field.ruKey}}</span></div>
                    <div *ngIf="field.isImage==true" class="upload-btn-wrapper">
                        <button class="btn">Выберите файл</button>
                        <input (change)="uploadImage($event,field._id)" type="file" name="myfile" />
                    </div>
                    <img *ngIf="field.isImage==true" src="{{baseUrl + field.image}}" height="20px" width="20px">
                    <input *ngIf="field.isImage!=true" type="text" [(ngModel)]="allFieldOfGroup.data[ind]['value']">
                </li>
            </div>
            <div *ngIf="key == 'operations'">
                <li *ngFor="let field of allFieldOfGroup?.operations | keys ;let ind = index">
                    <div class="field_label"><span>{{field}}</span></div>
                    <input *ngIf="field.isImage!=true" type="text" [(ngModel)]="allFieldOfGroup.operations[field]">
                </li>
            </div>

        </ul>
    </div>
</div>