<form [formGroup]="clientsForm" *ngIf="percents">
    <ul>
        <li>
            <label class="field_label header">Тип клиента</label>
            <label class="field_label header">Процент от кол-ва команд</label>
        </li>
        <li>
            <label for="small" class="field_label">Малый</label>
            <input [(ngModel)]="percents.smallClient" autocomplete="off" formControlName="smallClient" type="text" id="small">
        </li>
        <li>
            <label for="middle" class="field_label">Средний</label>
            <input [(ngModel)]="percents.averageClient" autocomplete="off" formControlName="averageClient" type="text" id="middle">
        </li>
        <li>
            <label for="big" class="field_label">Большой</label>
            <input [(ngModel)]="percents.bigClient" autocomplete="off" formControlName="bigClient" type="text" id="big">
        </li>
        <li>
            <label for="veryBig" class="field_label">Гипербольшой</label>
            <input [(ngModel)]="percents.veryBigClient" autocomplete="off" formControlName="veryBigClient" type="text" id="veryBig">
        </li>
    </ul>
    <div class="add_and_reset">
        <div class="action_button" (click)="addClients()">
            <div class="icon">
                <i class="material-icons">
                                    add
                                    </i>
            </div>
            <div class="label">
                <span>Сгенерировать клиентов</span>
            </div>
        </div>
        <div class="reset">
            <span (click)="resetValues()">Сбросить все данные</span>
        </div>
    </div>

</form>