@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
ul {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 6px;
        width: 338px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .columns_label_index {
            width: 8px;
        }
        .columns_label {
            width: 93px;
            &:first-child {
                padding-left: 4px;
            }
            span {
                @include configInputs;
                white-space: nowrap;
            }
        }
        .field_label {
            @include configInputs;
            &.header {
                font-family: OpenSans
            }
        }
        input {
            border-radius: 5px;
            border: 1px solid #c4c4c4;
            text-align: center;
            width: 93px;
            @include configInputs;
            &:focus {
                outline: none;
            }
        }
    }
    &.with_columns {
        &.twoRowColumns {
            margin-right: 135px;
        }
        li {
            width: 232px;
        }
    }
}

.add_and_reset {
    margin-top: 52px;
    display: flex;
    align-items: center;
    .action_button {
        display: flex;
        align-items: center;
        height: 47px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        padding: 0 27px 0 8px;
        width: fit-content;
        margin-right: 42px;
        cursor: pointer;
        .label {
            @include addFont;
        }
        .icon {
            margin-right: 9px;
            height: 35px;
            width: 35px;
            background-color: $primary-color;
            display: flex;
            border-radius: 50%;
            i {
                color: rgb(255, 255, 255);
                margin: auto;
                font-size: 30px;
            }
        }
    }
    .reset {
        span {
            @include tableBody;
            cursor: pointer;
        }
    }
}