<div class="side_bar">
    <div (click)="onClickExpand()" class="expand">
        <i class="material-icons">settings</i>
    </div>
    <div class="side_bar_top">
        <img class="side_bar_logo" src="assets/side-bar/logo.png">
    </div>
    <div class="side_bar_container">
        <div class="menu_items">
            <div class="menu_item" *ngFor="let menuItem of menuItemsService.menuItems()">
                <span [routerLink]="menuItem.routerLink" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleExpandableMenu(menuItem.routerLink,menuItem.logout)" routerLinkActive="active-link">{{menuItem.label}}</span>
                <img id="arrowMenu" [routerLink]="menuItem.routerLink" *ngIf="menuItem.expandable" src="assets/side-bar/arrow_down.png" (click)="toggleExpandableMenu(menuItem.routerLink,false,$event)">
                <div class="expand_menu" *ngIf="isOpened && menuItem.expandable && (menuItem.routerLink == '/configurations') ">
                    <div *ngFor="let expandKey of expandKeys"><span (click)="scrollToElement(expandKey.key)" [ngClass]="{'active':this._scrollService.activeElementId == expandKey.key }">{{expandKey.value}}</span></div>
                </div>
                <div class="expand_menu" *ngIf="isOpenedTest && menuItem.expandable && (menuItem.routerLink == '/test-configurations') ">
                    <div *ngFor="let expandKey of expandKeys"><span (click)="scrollToElement(expandKey.key)" [ngClass]="{'active':this._scrollService.activeElementId == expandKey.key }">{{expandKey.value}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>