@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.side_bar {
    min-height: 100vh;
    width: 288px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.16);
    .expand {
        display: none;
        position: absolute;
        right: -30px;
        z-index: 0;
        top: 89px;
        width: 30px;
        height: 30px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background: $primary-color;
        cursor: pointer;
        i {
            user-select: none;
            margin: auto;
            font-size: 17px;
            color: rgb(255, 255, 255);
            -webkit-animation: rotation 1s infinite linear;
            -moz-animation: rotation 1s infinite linear;
            -o-animation: rotation 1s infinite linear;
            animation: rotation 1s infinite linear;
            &:hover {
                -webkit-animation-play-state: paused;
                -moz-animation-play-state: paused;
                -o-animation-play-state: paused;
                animation-play-state: paused;
            }
        }
    }
    .side_bar_top {
        height: 89px;
        width: 100%;
        display: flex;
        background-color: #131c2d;
        .side_bar_logo {
            margin: auto;
            height: 50px;
        }
    }
    &_container {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 0px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #D62929;
        }
        width: 88%;
        margin: 0 auto;
        padding-top: 38px;
        max-height: calc(100vh - 89px);
        overflow-y: auto;
        .menu_items {
            .menu_item {
                // display: flex;
                // align-items: center;
                // justify-content: space-between;
                position: relative;
                margin-bottom: 39px;
                img {
                    position: absolute;
                    height: 22.1px;
                    cursor: pointer;
                    right: 0;
                    top: 3px;
                }
                span {
                    @include menuFontStyles;
                    &.active-link {
                        color: $primary-color;
                    }
                }
                .expand_menu {
                    padding-left: 20px;
                    div:not(:last-child) {
                        margin-bottom: 9px;
                    }
                    div:first-child {
                        margin-top: 9px;
                    }
                    span {
                        @include menuExpandLabel;
                        &.active {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.rotate {
    transition: all 0.3s;
    transform: rotate(180deg)
}

.rotate_back {
    transition: all 0.3s;
    transform: rotate(360deg)
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 0) and (max-width: 1024px) {
    .expand {
        display: flex !important;
    }
}