<div class="bots-control">
    <div class="close_dialog">
        <i (click)="closeDialog()" class="material-icons">close</i>
    </div>
    <div style="overflow-y: auto;max-height: 50vh;">
        <ul class="bots-control_list">
            <li *ngFor="let item of allBots;let ind = index">
                <div class="android">
                    <i class="material-icons">
                    android
                    </i>
                    <span>{{item.cityName}}/{{item.name}}</span>
                </div>
                <div [ngClass]="{'disabled': item.started}" class="pause" (click)="startSingleBot(item.type,item._id,item.city)">
                    <i class="material-icons">
                  play_arrow    
                          </i>
                </div>
                <div [ngClass]="{'disabled': item.paused}" class="play" (click)="stopSingleBot(item.type,item._id,item.city)">
                    <i class="material-icons">
                  pause    
                  </i>
                </div>
            </li>
        </ul>
    </div>

</div>