@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
.bots-control {
    position: relative;
    padding: 50px 32px 15px 32px;
    .close_dialog {
        position: absolute;
        top: 4.5px;
        right: 6.5px;
        display: flex;
        i {
            cursor: pointer;
            margin: auto;
        }
    }
    &_list {
        width: 100%;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            width: 188px;
            height: 25px;
            display: flex;
            align-items: center;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            padding: 0 8px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .android {
                display: flex;
                align-items: center;
                width: 18px;
                height: 18px;
                margin-right: auto;
                i {
                    color: $primary-color;
                    font-size: 14px;
                    margin-right: 6px;
                }
                span {
                    display: block;
                    @include addFont;
                }
            }
            .pause {
                background-color: $primary-color;
                border-radius: 50%;
                display: flex;
                width: 18px;
                height: 18px;
                margin-right: 30px;
                cursor: pointer;
                i {
                    margin: auto;
                    color: white;
                    font-size: 14px
                }
            }
            .play {
                background-color: $primary-color;
                border-radius: 50%;
                display: flex;
                width: 18px;
                height: 18px;
                cursor: pointer;
                i {
                    margin: auto;
                    color: white;
                    font-size: 14px
                }
            }
        }
    }
}

.disabled {
    user-select: none !important;
    pointer-events: none !important;
    background-color: rgba(231, 18, 171, 0.4) !important
}