<div *ngIf="showOverlay" class="loading">Loading&#8230;</div>
<div class="screen_control">
    <div class="screen_control_title"><span>Управление экраном</span></div>
    <div class="screen_control_container">
        <div class="screen_item" *ngFor="let screen of screens">
            <img src="{{screen.img}}">
            <div class="label" (click)="showScreenInLive(screen.eventName)"><span>{{screen.label}}</span></div>
        </div>
    </div>
</div>