@import "src/app/com/annaniks/chemistry-relations/styles/__variables.scss";
@import "src/app/com/annaniks/chemistry-relations/styles/__mixins.scss";
.screen_control {
    margin-top: 60px;
    &_title {
        margin-bottom: 9px;
        span {
            @include configsLabel
        }
    }
    &_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .screen_item {
            cursor: pointer;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 44px;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 22px;
            }
            .label {
                width: 206px;
                height: 47px;
                border-radius: 8px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #fff;
                display: flex;
                margin-top: 9.2px;
                span {
                    margin: auto;
                    @include eventsFont;
                }
            }
        }
    }
}